<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS Word Calculator</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/zone.css" />
    <link rel="stylesheet" type="text/css" href="/filepicker.css" />
    <link rel="stylesheet" type="text/css" href="/dropzone.min.css" />
</head>
<body>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
</body>
</html>